# Core functionality - changes here should be rare!
/src/app.py                   @snehkumarsingh-maker
/src/backend/database.py      @snehkumarsingh-maker
/src/backend/routers/auth.py  @snehkumarsingh-maker

# The frontend will need refactored soon to be more object oriented.
/src/static/   @snehkumarsingh-maker
